# [CONFIGMAP] Service Port
PORT=8006

# [CONFIGMAP] Redis Connection
REDIS_HOST=notification-redis
REDIS_PORT=6379

# [CONFIGMAP] RabbitMQ Connection
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# [SECRET] RabbitMQ Credentials
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
